.canvas-renderer {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  ._canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    ._error {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      font-size: 2rem;
      white-space: pre;
      background-color: #f88d;
      color: black;
    }
  }
  canvas {
    width: 100%;
    height: 100%;
  }
}