.app {
  display: flex;
  flex-direction: column;
  gap: 10px;
  h1 {
    text-align: center;
  }
  ._inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid black;
    padding: 10px;
    h2 {
      text-align: center;
    }

    > div {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      gap: 10px;
      > div {
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 0;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        padding: 10px;
        > div {
          display: flex;
          flex-direction: row;
          gap: 10px;
          position: relative;
          > textarea {
            flex-grow: 1;
          }
          > div {
            display: flex;
            flex-direction: column;
            gap: 10px;
            max-width: 20%;
            min-width: 20%;
          }
        }
      }
    }
  }
}