.log-renderer {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 10px;
  > div {
    padding: 10px;
  }
  > hr {
    width: 100%;
  }
  > h2 {
    text-align: center;
  }
}