body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}
#root {
  width: 100%;
  height: 100%;
}

.app {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  ._header {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  ._projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
  }
}