.project-card {
  display: flex;
  flex-direction: column;

  position: relative;
  text-decoration: none;
  color: black;
  border: 1px solid black;

  width: 400px;
  transition: transform 0.2s ease;
  transform: translateY(0);
  ._content {
    display: flex;
    flex-direction: column;
    ._image {
      width: 100%;
      height: 200px;
      position: relative;
      > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: opacity 0.2s ease;
      }
      > img {
        opacity: 0;
      }
      > .spinner {
        opacity: 1;
      }

      &._loaded {
        > img {
          opacity: 1;
        }
        > .spinner {
          opacity: 0;
        }
      }
    }
    ._text {
      border-top: 1px solid black;
      padding: 10px 20px;
      display: flex;
      flex-direction: column;

      > * {
        margin: 0;
      }
    }
  }

  &:hover {
    transform: translateY(-5px);
  }
}